# fly.toml app configuration file generated for bestof-discord-bot on 2025-12-18T09:40:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bestof-discord-bot'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[scaling]
  min = 1
  max = 1

[[vm]]
  memory = '256mb'
  cpus = 1
  memory_mb = 256
